/* cubeslider does not depend on anything here, this is all for the example.. */

body {
	margin: 60px;
	padding: 0;
	background: #ccc;
}

/* apply a natural box layout model to all elements */
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#cube div {
	width: 400px;
	height: 300px;
	color: #FFF;
}

.c1 {
	background: red;
}

.c2 {
	background: blue;
}

.c3 {
	background: green;
}